SKYPEDIA/skypedia.js
SKYPEDIA/data
SKYPEDIA/output
run.js
.regolith
SKYPEDIA/ui/skypedia_library.json
/SKYPEDIA/addons
SKYPEDIA/config.json
SKYPEDIA/output.json
BP/blocks/liquids/oil.json


#Remember M9
tsconfig.d.ts
tsconfig.json
